{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.model.brand.name }} - {{ vehicle.model.name }}{% endblock %}

{% block body %}
    <div class="container mx-auto px-8 py-8">
        <h1 class="title text-center">{{ vehicle.model.name }}</h1>

        <div class="mt-6 grid grid-cols-1 md:grid-cols-3 gap-6">
            {{ component('vehicle_detail', {
                'vehicle': vehicle,
                'type': 'userVehicle',
                'features': features,
            }) }}

            <aside class="md:col-span-1 card">
                <div class="text-center mb-3">
                    <h2 class="title">Prendre un rendez-vous</h2>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="mb-4 p-3 bg-green-100 text-green-800 rounded">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="mb-4 p-3 bg-red-100 text-red-800 rounded">
                        {{ message }}
                    </div>
                {% endfor %}

                <div class="flex gap-2">
                    {% if app.user %}
                        {{ form_start(maintenanceRequestForm) }}
                            <div class="mb-4 text-red-600">
                                {{ form_errors(maintenanceRequestForm) }}
                            </div>
                            {{ form_row(maintenanceRequestForm.requestDate) }}
                            {{ form_row(maintenanceRequestForm.type) }}
                            <button type="submit" class="form-submit">Prendre rendez-vous</button>
                        {{ form_end(maintenanceRequestForm) }}
                    {% else %}
                        <a href="{{ path('app_login') }}" class="flex-1 bg-gray-600 text-white text-center py-2 rounded hover:bg-gray-500">Connectez-vous pour continuer</a>
                    {% endif %}
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
