{% extends 'base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block body %}
    <h1 class="title text-center">Création de compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}

        <button type="submit" class="form-submit">Créer le compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}
