{% extends 'base.html.twig' %}

{% block title %}Locations{% endblock %}

{% block body %}
    <div class="container mx-auto px-8 py-8">
        <h1 class="title text-center">Locations</h1>

        <div class="card-list">
            {% for vehicle in vehicles %}
                <article class="card">
                    <img src="https://picsum.photos/400/200?random={{ vehicle.model.id }}" alt="{{ vehicle.model.name }}" class="card-image">

                    <h2 class="card-title">{{ vehicle.model.brand.name }} - {{ vehicle.model.name }}</h2>

                    <div class="flex items-center gap-4">
                        <p class="card-text"><strong>Categorie</strong> : {{ vehicle.category.name }}</p>
                        <p class="card-text">Prix : {{ vehicle.dailyPrice }}€/jour</p>
                    </div>

                    <a href="{{ path('app_vehicle_locations_detail', {'id': vehicle.id}) }}" class="card-button">Voir les détails</a>
                </article>
            {% else %}
                <p>Aucun véhicule disponible pour la location.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
